@using ServiceContracts.Dto
@model IEnumerable<PersonResponse>
@{
	ViewBag.title = "Crud Demo";
	
}

	<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Index</title>
		<link rel="stylesheet" href="~/css/PersonIndex.css" asp-append-version="true" />
	</head>

	<body>

	<form asp-controller="Person" asp-action="Index" method="get">
		<div class="flex">
			<div class="flex1">
				<select name="SearchBy">
					@foreach (var fields in ViewBag.Fields)
					{
						if (fields.Key == ViewBag.CurrentSearchBy)
						{
							<option value="@fields.Key" selected="selected">@fields.Value</option>

						}
						else
						{
							<option value="@fields.Key">@fields.Value</option>							
						}
					}
				</select>
			</div>

			<div class="flex1">
				<input type="search" placeholder="Search" name="SearchString" value="@ViewBag.CurrentSearchString" />
			</div>

			<div class="flex1">
				<button>Search</button>
				<a asp-controller="Person" asp-action="Index">clear all</a>
			</div>
		</div>
	</form>

	<table>
		<thead>
			<tr>

				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
					{"ColumnName", nameof(PersonResponse.PersonName)},
					{"DisplayName", "Person Name"}
				})

				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName", nameof(PersonResponse.Email)},
				{"DisplayName", "Email"}
				})

				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName", nameof(PersonResponse.DateOfBirth)},
				{"DisplayName", "Date of Birth"}
				})

				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName", nameof(PersonResponse.Age)},
				{"DisplayName", "Age"}
				})

				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName", nameof(PersonResponse.Gender)},
				{"DisplayName", "Gender"}
				})

				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName", nameof(PersonResponse.Country)},
				{"DisplayName", "Country"}
				})	
				
				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName", nameof(PersonResponse.Adress)},
				{"DisplayName", "Adress"}
				})				

				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName", nameof(PersonResponse.ReceiveNewsLetters)},
				{"DisplayName", "Receive News Letters"}
				})

				<th style="color:var(--color-primary)">Operations</th>
			</tr>
		</thead>
		<tbody>

			@foreach (PersonResponse Person in Model)
			{
				<tr>
					<td style="margin-left:50px">@Person.PersonName</td>
					<td>@Person.Email</td>
					<td>@Person.DateOfBirth?.ToString("dd MMMM yyyy")</td>
					<td>@Person.Age</td>
					<td>@Person.Gender</td>
					<td>@Person.Country</td>
					<td>@Person.Adress</td>
					<td>@Person.ReceiveNewsLetters</td>
					<td>
						<a asp-controller="Person" asp-action="Edit" asp-route-personID=@Person.PersonID>Edit</a>
					</td>
				</tr>
			}

		</tbody>
	</table>
	
</body>

</html>
